@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.welcome-container {
    background-image: url('../../assets/banner.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.welcome-title-and-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.welcome-title {
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 10rem;
    letter-spacing: 15px;
    font-family: 'Just Another Hand', "Courier New";
    padding-bottom: 50px;
    font-weight: 700;
}

.welcome-subtitle {
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .welcome-title {
        font-size: 10vw;
    }
}