@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.welcome-container {
    background-image: url('../../assets/banner.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}

.welcome-title-and-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.welcome-title {
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 10rem;
    letter-spacing: 15px;
    font-family: 'Just Another Hand', "Courier New";
    padding-bottom: 50px;
    font-weight: 700;
}

.welcome-subtitle {
    text-align: center;
    color: white;
}

.custom-alert {
    transition: opacity 0.5s ease-in-out;
    margin: 0 auto;
}

.search-results-title {
    font-size: 40px;
    text-align: center;
    color:#4f6073 ;
    padding-bottom: 20px;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    max-width: 1200px;
    gap: 25px;
}


@media (max-width: 768px) {
    .welcome-title {
        font-size: 10vw;
    }
}