.reserva-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    margin-bottom: 50px;
    position: relative;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    .reserva-container {
        align-items: center;
    }
}

@media only screen and (max-width: 1200px) {
    .reserva-container {
        align-items: center;
        justify-content: center;
    }
}