.subHeader{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.specsProducto{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    background-color: #FFFFFF;
    gap: 10px;
    font-weight: bold;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family:Helvetica, sans-serif
}

.specsProducto p{
    margin-left: 20%;
    font-size: 22px;
}

.specsProducto h2{
    margin: auto;
    font-size: 34px;
}

.caracteristicas {
    margin-left: 20%;
    font-size: 22px;
}

.caracteristicas h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.caracteristicas ul {
    margin-top: 5px;
    list-style: none;
    font-size: 17px;
}

.caracteristicas ul li:before {
    content: '✓ ';
  }

.botonReserva{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.botonReserva button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #a2b7c0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonReserva button:hover{
    background-color: #8c9aa5;
}

.textArrow{
    font-size: 16px;
    color: #007bff;
}

.containerProducto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.imageContainer{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   height: 100%;
   margin-bottom: 10px;
}

.containerImagenPrincipal{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #ffffff;
    min-height: 525px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);

}

.containerImagenPrincipal img{
    border-radius: 25px;
    width: 525px;
}

.containerSecundarias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.containerSecundarias1, .containerSecundarias2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    

}

.containerSecundarias1 img, .containerSecundarias2 img{
    width: 250px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.gallery-container {
    min-width: 13rem;
    margin-top: 35px;
    margin-bottom: 35px;
}

.puntuacion-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0)
}

.gallery-button {
    font-family:  "Roboto", sans-serif;
    color: white;
    font-size: 14px;
    background-image: url("../../assets/background-buttons.png");
    padding: 8px 16px;
    border: none;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
}

@media (max-width:768px){

    .containerProducto {
        align-items: center;
    }

    .imageContainer{
        flex-direction: column;
    }

    .containerImagenPrincipal{
        min-height: auto;
    }

    .containerImagenPrincipal img{
        width: 320px;
    }


    .containerSecundarias1, .containerSecundarias2{
        flex-direction: column;
    }

    .gallery-container {
        min-width: auto;
    }


}


@media (max-width:998px){

    .containerProducto {
        align-items: center;
    }

    .containerImagenPrincipal{
        min-height: 425px;
    }

    .containerImagenPrincipal img{
        width: 300px;
    }


    .containerSecundarias1 img, .containerSecundarias2 img{
        width: 200px;
    }

    .subHeader h2{
        font-size: 18px;
    }

    .gallery-container {
        min-width: auto;
    }

}
